* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.global {
  display: flex;
  justify-content: center;
  align-items: center;
}

.civil {
  background-image: url('/images/img1.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 90vh;
  }

  .computer {
    background-image: url('/images/img2.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    height: 90vh;
    }

    .electronics {
      background-image: url('/images/img3.jpg'); 
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 100px;
      height: 90vh;
      }

      .industrial {
        background-image: url('/images/img4.jpg'); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 100px;
        height: 90vh;
        }

        .signup {
          background-image: url('/images/img6.jpg'); 
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          color: #fff;
          font-size: 100px;
          height: 90vh;
          }