* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.sub {
  width: 90%;
  margin: auto;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.mini-sub {
  width: 90%;
  margin: auto;
  font-size: 20px;
  margin-bottom: 20px;
}

.list {
  width: 80%;
  margin: auto;
  font-size: 20px;
  margin-bottom: 20px;
}

.table {
  width: 80%;
  margin: auto;
  font-size: 20px;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid white;
  padding: 10px;
}

.civil {
  background-image: url('/images/img1.jpg'); 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
  height: 330vh;
  }

  .computer {
    background-image: url('/images/img2.jpg'); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    height: 230vh;
    }

    .electronics {
      background-image: url('/images/img7.jpg'); 
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      font-size: 100px;
      height: 330vh;
      }

      .industrial {
        background-image: url('/images/img4.jpg'); 
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        color: #fff;
        height: 300vh;
        }


        .signup {
          background-image: url('/images/img6.jpg'); 
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          color: #fff;
          font-size: 100px;
          height: 90vh;
          }